<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>191962208785-q74d8dj3impqq4hekb0f2qs8pgleqetu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191962208785-q74d8dj3impqq4hekb0f2qs8pgleqetu</string>
	<key>API_KEY</key>
	<string>AIzaSyDLSZvN6IU4kaxOHFSBD0X2xZqgNOavE7E</string>
	<key>GCM_SENDER_ID</key>
	<string>191962208785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>makeschool.BuildMe</string>
	<key>PROJECT_ID</key>
	<string>buildme-b0040</string>
	<key>STORAGE_BUCKET</key>
	<string>buildme-b0040.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191962208785:ios:66481b87b2e38c79</string>
	<key>DATABASE_URL</key>
	<string>https://buildme-b0040.firebaseio.com</string>
</dict>
</plist>